    #tabbar {
      font-family:"UW Ttyp0";
      font-size:14px;
      background:#152326;
      box-shadow: none !important;
      border:0 solid #a69ca7;
      scrollbar-width: none;
    }
    tab-item .twisty {
      visibility: hidden;
      margin-left: -12px;
    }
    tab-item .label {
      margin-left: 7px;
    }
    .closebox {
      display:none;
    }
    .newtab-button-box {
      display:none;
    }
    tab-item {
      box-shadow: none !important;
      border-color:#a69ca7;
      background:#152326;
    }
    tab-item.active, tab-item:hover {
      background:#293739;
    }
    tab-label {
      margin-bottom:-6px;
      color:#a69ca7;
    }
    .highlighter {
      display:none;
    }
    tab-item[data-level][data-level="0"] {
      margin-left: 0 !important;
    }
    tab-item[data-level][data-level="1"] {
      margin-left: -1px !important;
    }
    tab-item[data-level][data-level="2"] {
      margin-left: -1px !important;
    }
    tab-item[data-level][data-level="3"] {
      margin-left: -1px !important;
    }
    tab-item[data-level][data-level="4"] {
      margin-left: -1px !important;
    }
    tab-item[data-level][data-level="5"] {
      margin-left: -1px !important;
    }
    tab-item[data-level][data-level="6"] {
      margin-left: -1px !important;
    }
    #tabbar:hover tab-item[data-level][data-level="0"] {
      margin-left: 0 !important;
    }
    #tabbar:hover tab-item[data-level][data-level="1"] {
      margin-left: 2% !important;
    }
    #tabbar:hover tab-item[data-level][data-level="2"] {
      margin-left: 4% !important;
    }
    #tabbar:hover tab-item[data-level][data-level="3"] {
      margin-left: 6% !important;
    }
    #tabbar:hover tab-item[data-level][data-level="4"] {
      margin-left: 8% !important;
    }
    #tabbar:hover tab-item[data-level][data-level="5"] {
      margin-left: 10% !important;
    }
    #tabbar:hover tab-item[data-level][data-level="6"] {
      margin-left: 12% !important;
    }

/* Add private browsing indicator per tab */
/*
:root.sidebar tab-item.private-browsing tab-label:before {
  content: "🕶";
}
*/
