html {
  font-family:"UW Ttyp0" !important;
  font-style: regular;
  font-size:12px !important;
}
window, #main-window {
  background:#152326 !important;
  -moz-appearance: none !important;
}
#tabbrowser-tabpanels {
  background:none !important;
}
#titlebar {
  display:none;
}
#navigator-toolbox {
  border-bottom:1px solid #a69ca7 !important;
  box-shadow:none !important;
}
#nav-bar {
  color:#a69ca7 !important;
  background:none !important;
  box-shadow:none !important;
}
#back-button, #forward-button {
  display:none;
}
.toolbarbutton-1 {
  padding:0.309rem 0.809rem !important;
  fill:#a69ca7 !important;
  background:#152326;
}
.toolbarbutton-1:hover, .toolbarbutton-1[open="true"] {
  background:#152326;
}
#PersonalToolbar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active),
.findbar-button:not([disabled="true"]):is([checked="true"],
:hover:active), toolbarbutton.bookmark-item:not(.subviewbutton):hover:active:not([disabled="true"]),
toolbarbutton.bookmark-item[open="true"],
toolbar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-icon,
toolbar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-text,
toolbar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-badge-stack {
  background-color:transparent !important;
}
.toolbarbutton-1:hover .toolbarbutton-icon,
.toolbarbutton-1:hover .toolbarbutton-text,
.toolbarbutton-1:hover .toolbarbutton-badge-stack {
  background-color:transparent !important;
}
#PanelUI-button {
  padding:0 !important;
  margin:0 !important;
  background:none;
  border-inline-width:0 !important;
  background:#152326;
}
#PanelUI-button .toolbarbutton-1 {
  background:none !important;
}
#PanelUI-menu-button {
  display:flex;
  padding-inline-end:0 !important;
  padding-inline-start:0 !important;
}
#PanelUI-menu-button:hover {
  background:#152326 !important;
}
#PanelUI-menu-button > stack {
  padding:0 0.809rem !important;
}
#PanelUI-menu-button stack:hover {
  background:transparent !important;
}
:root {
  --toolbarbutton-hover-background:transparent !important;
  --toolbarbutton-active-background:transparent !important;
  --toolbarbutton-outer-padding:0 !important;
  --toolbarbutton-inner-padding:0 !important;
  --toolbarbutton-focus-outline:0 !important;
}
#urlbar {
  color:#a69ca7 !important;
  --urlbar-height: 30px !important;
  --urlbar-toolbar-height: 30px !important;
}
#urlbar-container {
  margin-inline:0 !important;
  background:none !important;
  --urlbar-container-height: 30px !important;
}
#urlbar-background, #searchbar {
  background:#152326 !important;
  border-radius:0 !important;
  box-shadow:none !important;
}
#urlbar-background {
  border-top:0 solid #a69ca7 !important;
  border-right:1px solid #a69ca7 !important;
  border-bottom:0 solid #a69ca7 !important;
  border-left:1px solid #a69ca7 !important;
}
#urlbar-input {
  margin-bottom:-2px !important;
}
#urlbar[breakout][breakout-extend] {
  top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
  left: 0 !important;
  width: 100% !important;
}
 
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding-block: 0 !important;
  padding-inline: 0 !important;
}
 
#urlbar[breakout][breakout-extend] > #urlbar-background {
  animation-name: none !important;
  box-shadow:none !important;
}
#urlbar[open="true"] > #urlbar-background {
  border-right:1px solid #76627d !important;
  border-bottom:1px solid #76627d !important;
  border-left:1px solid #76627d !important;
  /* backdrop-filter: blur(30px) !important; */
}
.urlbarView-body-inner {
  border:0 !important;
}
.search-one-offs {
  display:none !important;
}
.urlbarView-row-inner {
  padding-block:3px !important;
}
#tracking-protection-icon-container {
  display: none;
  border-inline-end:1px solid #a69ca7 !important;
  border-image:linear-gradient(transparent 15%, #a69ca7 15%, #a69ca7 85%, transparent 85%) !important;
  border-image-slice:1 !important;
}
#pageActionSeparator {
  border-inline-start:1px solid rgba(255,219,176,0.25) !important;
  border-image:linear-gradient(transparent 15%, rgba(255,219,176,0.25) 15%, rgba(255,219,176,0.25) 85%, transparent 85%) !important;
  border-image-slice:1 !important;
}
/* Sidebar */
#browser {
  margin-left:30px;
}
#sidebar-splitter {
  display:none;
}
#sidebar-box #sidebar-header {
  display:none;
}
#sidebar-box {
  display:flex;
  position:fixed !important;
  top:31px;
  left:0;
  bottom:0;
  overflow: hidden;
  min-width: 31px;
  max-width: 31px;
  transition: all 0.2s ease;
  border-right: 1px solid #a69ca7;
  z-index: 2;
  background:none;
}
#sidebar-box:hover,
#sidebar-box #sidebar {
  min-width: 260px !important;
  max-width: 260px !important;
  z-index: 1;
}
#main-window[inFullscreen] #sidebar-box,
#main-window[inFullscreen] #sidebar-box #sidebar-splitter {
  display: none !important;
  width: 0px !important;
}
#main-window[inFullscreen] #browser {
  margin-left:0 !important;
}
/* Menus */
menupopup {
  appearance:none !important;
  color:#152326 !important;
  border:1px solid #a69ca7 !important;
}
.panel-arrowcontent {
  color:#152326 !important;
  margin:0 !important;
  border:1px solid #a69ca7 !important;
  box-shadow:none !important;
}
panelview {
  color:#a69ca7 !important;
  background:#152326 !important;
}
menu, menuitem, menucaption {
  appearance:none !important;
  color:#a69ca7 !important;
}
menu, menuitem, menucaption {
  padding:0.5rem !important;;
  background:#152326 !important;
}
menu:hover, menuitem:hover, menucaption:hover {
  background:#152326 !important;
}
#context-navigation menuitem {
  padding:0.309rem !important;;
  background:#152326 !important;
}
#context-navigation menuitem:hover {
  background:#152326 !important;
}
menuseparator {
  appearance: none !important;
  border-bottom:1px solid #a69ca7 !important;
}
menu[disabled="true"], menuitem[disabled="true"], menucaption[disabled="true"] {
  color:#a69ca7 !important;
}

/*@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once 

:-moz-any(#content,#appcontent) browser{
 margin-right:-14px!important;
 overflow-y:scroll;
 margin-bottom:-14px!important;
 overflow-x:scroll;
}*/ 
